
<div class="top-gutter" ></div >

<section class="flex-row" >


  <div class="box col5-6">

    <h1 >{{title}}</h1 >

    <form class="form" action="/userSignUp">

      <input type="text" ng-model="name" placeholder="Username">
      <input type="text" ng-model="email" placeholder="Email">
      <input type="text" ng-model="password" placeholder="Password">

      <input type="button" ng-click="newUser.getUserData(name, email, password)" value="Log In">
    </form >

  </div>


  <div class="box col2-3">
    <table>

      <tr >
      <td >UserName: </td >
      <td >{{userMutable[0]}}</td >
      </tr >

      <tr >
      <td >Email: </td >
      <td >{{userMutable[1]}}</td >
      </tr >

      <tr >
      <td >Password: </td >
      <td >{{userMutable[2]}}</td >
      </tr >

    </table>
  </div>

</section >
